@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300;400;500;700&display=swap');

/* ============================================================== */
/*          Configuración para dispositivos en general          */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* ========== Navegación/Menu ========== */
.barra-nav {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px 40px;
    border-radius: 0px 0px 15px 15px;
    justify-content: space-between;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
    text-shadow: silver 1px 2px 2px;
    box-shadow: silver 0px 0px 4px 1px;
    color: black;
    z-index: 100;
}

/* Logo */
.logo {
    display: flex;
}

#logo-simbolo {
    width: 40px;
    font-size: 35px;
    color: rgb(0, 0, 200);
}

#logo-texto-ppal {
    font-size: 15px;
}

#logo-texto-sec {
    color: rgb(0, 0, 200);
}

/* Botones */
#menu-boton {
    display: none;
}

#menu-checkbox {
    display: none;
}

.menu-simbolo {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0;
    color: black;
}

.barra-nav .menu {
    display: flex;
}

.barra-nav .menu .menu-item {
    position: relative;
    list-style: none;
    width: 70px;
    top: 8px;
}

.barra-nav .menu .menu-item .menu-enlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

.barra-nav .menu .menu-item .menu-enlace .menu-simbolo {
    line-height: 75px;
    font-size: 30px;
    transition: 0.5s;
}

.barra-nav .menu .menu-item .menu-enlace .menu-texto {
    position: absolute;
    font-size: 0.80em;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: 0.5s;
}

/* Animaciones */
.barra-nav .menu .menu-item:hover .menu-enlace {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    box-shadow: silver 2px 2px 4px 0px;
    background-color: lightblue;
}

.barra-nav .menu .menu-item:hover .menu-enlace .menu-simbolo {
    transform: translateY(-12px);
}

.barra-nav .menu .menu-item:hover .menu-enlace .menu-texto {
    transform: translateY(12px);
    opacity: 1;
}

/* ========== Inicio ========== */
.portada-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100vh + 70px) ;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("https://wallpaperaccess.com/full/4635743.jpg");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.portada-imagen .portada-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 0px 40px;
    height: 350px;
    border-radius: 25px;
    text-shadow: silver 1px 2px 2px;
    box-shadow: silver 0px 0px 4px 3px;
    background-color: whitesmoke;
}

#portada-dibujo {
    width: 325px;
}

#portada-saludo {
    position: relative;
    width: 250px;
    padding-right: 50px;
    font-size: 35px;
    font-style: oblique;
    color: rgb(0, 0, 200);
}

#portada-nombre {
    font-size: 20px;
    padding-right: 50px;
}

/* ========== Mi CV ========== */
.CV {
    padding: 20px 50px;
    width: 100%;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: white;
}

.CV .CV-contenido {
    display: flex;
    border-radius: 0.75%;
    border: 3px solid black;
    background-color: whitesmoke;
    box-shadow: silver 0px 0px 4px 3px;
    color: black;
}

/* Lado izquierdo del CV*/
.CV .CV-izquierda {
    text-align: left;
    width: 35%;
    border-right: 2px solid black;
    text-shadow: silver 2px 2px 3px;
    background-color: lightblue;
}

.CV .CV-izquierda .CV-foto {
    text-align: center;
    align-items: center;
    align-content: center;
}

#foto {
    width: 60%;
    margin: 5px;
    padding: 5px;
    border-radius: 20%;
    border: 3px solid white;
}

#nombre {
    font-size: 25px;
    padding: 25px 7px;
    text-align: center;
}

.CV .CV-izquierda .CV-campos {
    margin: 0px;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(0, 0, 200);
    color: white;
}

.CV .CV-izquierda .CV-datos {
    padding: 15px;
    line-height: 200%;
}

.CV .CV-izquierda .CV-datos .CV-datos-items {
    margin: 0px 20px;
}

.CV .CV-izquierda .CV-datos .CV-idioma {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Lado derecho del CV */
.CV .CV-derecha {
    text-align: justify;
    width: 75%;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 0px 25px;
    padding-bottom: 15px;
}

.CV .CV-derecha .CV-encabezado {
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 0, 200);
}

.CV .CV-derecha .CV-experiencia, .CV .CV-derecha .CV-educacion {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.CV .CV-derecha .CV-pasatiempos {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#CV-pasatiempo-logo {
    font-size: 70px;
}

/* ========== Contacto ========== */


/* ========== Pie de página ========== */
footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    user-select: none;
    padding: 8px 15px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px 15px 0px 0px;
    box-shadow: silver 0px 0px 4px 1px;
    background-color: whitesmoke;
    color: grey;
}

footer .foot-logo {
    width: 100px;
    margin: 0px 50px;
}

#logo-AP {
    filter: invert(100%); /* Quitar en modo oscuro */
}

footer .foot-texto {
    height: 5px;
}


/* ============================================================== */
/*          Configuración para dispositivos medios              */
@media (max-width: 1024px) {
    /* ========== Navegación/Menu ========== */
    .barra-nav {
        height: 60px;
        padding: 0px 20px;
    }
    
    /* Logo */
    #logo-simbolo {
        width: 28px;
        font-size: 26px;
    }
    
    #logo-texto-ppal {
        font-size: 12px;
    }

    .barra-nav .menu .menu-item {
        width: 60px;
    }

    .barra-nav .menu .menu-item .menu-enlace .menu-simbolo {
        line-height: 65px;
    }

    .barra-nav .menu .menu-item .menu-enlace .menu-texto {
        font-size: 0.7em;
        letter-spacing: 0.04em;
    }

    /* Animaciones */
    .barra-nav .menu .menu-item:hover .menu-enlace {
        width: 60px;
        height: 60px;
    }

    /* ========== Inicio ========== */
    .portada-imagen .portada-contenido {
        padding: 0px;
        margin: 0px 20px;
    }
    
    #portada-dibujo {
        margin: 0px 20px;
        width: 225px;
    }
    
    #portada-saludo {
        width: 200px;
        padding-right: 20px;
        font-size: 30px;
    }
    
    #portada-nombre {
        font-size: 17px;
        padding-right: 20px;
    }

    /* ========== Mi CV ========== */
    .CV {
        padding: 20px 20px;
        font-size: 12px;
    }
    
    /* Lado izquierdo del CV*/
    #nombre {
        padding: 15px 7px;
        font-size: 20px;
    }
    
    .CV .CV-izquierda .CV-campos {
        padding: 10px;
        font-size: 15px;
    }

    .CV .CV-izquierda .CV-datos {
        padding: 10px;
        line-height: 170%;
    }
    
    .CV .CV-izquierda .CV-datos .CV-datos-items {
        margin: 0px 15px;
    }
    
    /* Lado derecho del CV */
    .CV .CV-derecha {
        line-height: 20px;
        padding: 0px 15px;
    }
    
    .CV .CV-derecha .CV-encabezado {
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 0px;
    }
    
    .CV .CV-derecha .CV-experiencia, .CV .CV-derecha .CV-educacion {
        font-size: 16px;
        padding-top: 10px;
    }
    
    #CV-pasatiempo-logo {
        font-size: 40px;
    }

    /* ========== Contacto ========== */


    /* ========== Pie de página ========== */
    footer .foot-logo {
        width: 80px;
        margin: 0px 10px;
    }

    footer .foot-texto {
        font-size: 12px;
    }
}


/* ============================================================== */
/*          Configuración para dispositivos chicos              */
@media (max-width: 576px){
    /* ========== Navegación/Menu ========== */
    .barra-nav {
        border-radius: 0px
    }
    
    /* Botones */
    #menu-boton {
        display: block;
        cursor: pointer;
    }
    
    .barra-nav .menu {
        position: fixed;
        flex-direction: column;
        text-align: justify;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 59px);
        padding: 0px;
        top: 59px;
        left: 100%; /* Valor para ocultar la barra */
        transition: 0.3s;
        background-color: rgb(224, 224, 224);
    }
    
    .barra-nav .menu .menu-item {
        width: 100vw;
        height: 80px;
    }
    
    .barra-nav .menu .menu-item .menu-enlace {
        flex-direction: row;
        justify-content: left;
        width: 100vw;
    }
    
    .barra-nav .menu .menu-item .menu-enlace .menu-simbolo {
        padding: 0px 30px;
        line-height: 80px;
        transition: none;
    }
    
    .barra-nav .menu .menu-item .menu-enlace .menu-texto {
        padding: 0px 70px;
        font-size: 15px;
        letter-spacing: 0.1em;
        opacity: 1;
        transition: none;
    }
    
    /* Animaciones */
    .barra-nav .menu .menu-item:hover .menu-enlace {
        width: 100%;
        height: 75px;
    }
    
    .barra-nav .menu .menu-item:hover .menu-enlace .menu-simbolo {
        transform: none;
    }
    
    .barra-nav .menu .menu-item:hover .menu-enlace .menu-texto {
        transform: none;
    }

    .menu__checkbox:checked + .menu {
        left: 0%;
    }

    /* ========== Inicio ========== */
    .portada-imagen .portada-contenido {
        margin: 0px 15px;
        height: 200px;
    }
    
    #portada-dibujo {
        margin: 0px 10px;
        width: 140px;
    }
    
    #portada-saludo {
        width: 130px;
        padding-right: 15px;
        font-size: 20px;
    }
    
    #portada-nombre {
        font-size: 12px;
        padding-right: 20px;
    }

    /* ========== Mi CV ========== */
    .CV {
        padding: 20px 5px;
        font-size: 7.5px;
        text-shadow: none;
    }
    
    /* Lado izquierdo del CV*/
    .CV .CV-izquierda {
        width: 40%;
        text-shadow: none;
    }

    #nombre {
        padding: 10px 7px;
        font-size: 15px;
    }

    .CV .CV-izquierda .CV-campos {
        padding: 5px;
        font-size: 10px;
    }
    
    .CV .CV-izquierda .CV-datos {
        padding: 5px;
        line-height: 170%;
    }
    
    /* Lado derecho del CV */
    .CV .CV-derecha {
        line-height: 20px;
        width: 60%;
        padding: 0px 10px;
    }
    
    .CV .CV-derecha .CV-encabezado {
        font-size: 15px;
        padding-top: 7px;
    }
    
    .CV .CV-derecha .CV-experiencia, .CV .CV-derecha .CV-educacion {
        font-size: 10px;
        padding-top: 5px;
    }
    
    #CV-pasatiempo-logo {
        font-size: 30px;
    }

    /* ========== Contacto ========== */


    /* ========== Pie de página ========== */
    footer {
        padding: 0px 8px;
        border-radius: 0px;
    }

    footer .foot-logo {
        width: 28px;
        margin: 0px 8px;
    }

    footer .foot-texto {
        font-size: 6px;
        padding-top: 8px;
    }
}